In [3]:
import pandas as pd

# Read in data
casen = pd.read_stata('Casen 2017.dta', convert_categoricals = False)
cases = pd.read_csv('https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto1/Covid-19.csv')
deaths = pd.read_csv('https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto38/CasosFallecidosPorComuna.csv')

In [4]:
# First look at dataframes

casen.shape, cases.shape, deaths.shape

((216439, 804), (362, 41), (378, 16))

In [15]:
# Select only 49 relevant indicators from the CASEN study, such as poverty, access to health institutions or
# number of persons in household. 

casen_columns = ['region', 'provincia', 'comuna', 'e1', 'e6a', 'o1', 'o12', 'o16', 'o25a_min',
                'o25c', 'o28', 'y21a', 'y22a', 'y24', 'y27a', 'ysub', 'ytot', 's12', 's13', 's14', 
                's26a', 's27a', 's28', 's31a1', 's31a2', 's31a3', 's32c', 's33g1', 's33i1', 's33j1',
                'r1a', 'r1a_cod', 'r3', 'r7c', 'r8a', 'r8b', 'r16a', 'r16b', 'v33', 'v37a', 'v37c',
                'v37i', 'v39b', 'pobreza', 'hh_d_prevs', 'hh_d_cot', 'hh_d_servbas', 'qaut', 'numper']

print(len(casen_columns))

casen_rel = casen[casen_columns]

49

In [21]:
cases.iloc[:, [1, -2]]

     Codigo region  2020-07-20
0               15      3372.0
1               15        13.0
2               15         0.0
3               15        30.0
4               15         5.0
..             ...         ...
357             12         0.0
358             12         2.0
359             12         0.0
360             12         0.0
361             12        70.0

[362 rows x 2 columns]

In [18]:
df_e1 = df.loc[:, ['region', 'comuna', 'ytot']]

df_e1.groupby('comuna').ytot.mean().reset_index().sort_values('ytot', ascending = False)

     comuna          ytot
267   13132  1.987719e+06
249   13114  1.618252e+06
258   13123  1.476416e+06
255   13120  1.081854e+06
248   13113  1.002380e+06
..      ...           ...
198    9208  1.857542e+05
165    8310  1.854193e+05
163    8308  1.828309e+05
119    7203  1.820784e+05
188    9119  1.580161e+05

[324 rows x 2 columns]

In [7]:
df.shape

(216439, 804)

In [4]:
df.groupby('region').hogar.count().reset_index()#.sort_values('hogar', ascending = False)

    region  hogar
0        1  10150
1        2   8510
2        3   6961
3        4   9952
4        5  19625
5        6  15862
6        7  15208
7        8  21532
8        9  15481
9       10  12442
10      11   5045
11      12   6637
12      13  42601
13      14  10175
14      15   7888
15      16   8370